venv/
Generator/__pycache__/
.idea/
.idea
.vs/
Generator/carriage.bulk
Generator/course.bulk
Generator/courseCarriage.bulk
Generator/driver.bulk
Generator/locomotive.bulk
Generator/station.bulk
Generator/awarie.xls